* {
	padding: 0;
	margin: 0;
}

body {
	font-family: monospace;
}

header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	display: inline-block; 
}

.main-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 15px;
}

.main-nav li.active a {
	border: 1px solid #fff;
}

.main-nav li a:hover {
	border: 1px solid #fff;
}

.row {
	max-width: 1200px;
	margin: auto;
}

.hero {
	position: absolute;
	width: 1200px;
	margin-left: 0;
	margin-right: 0;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 275px;
}

.button {
	margin-top: 30px;
	margin-left: 440px;
}

.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-one {
	background-color: darkorange;
	font-family: "Roboto", sans-serif;
}

.btn-tow {
	font-family: "Roboto", sans-serif;
}

.btn-two:hover {
	background-color: darkorange;
	transition: all 0.5s ease-in;
}